html
	head
		title Notes
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div.container
			h1 Notes
			each note in notes
				#note
					p= note.content
			form(name="createNote", action="/note/new", method="post")
				div.form-group
					input(type="text" id="note_title" placeholder="Title" class="form-control")
				div.form-group
					input(type="text" id="date", placeholder="January 1" class="form-control")
				div.form-group
					textarea(id="note_content" rows="4" class="form-control" placeholder="Type your note here...")
				div.form-group
					input(type="submit" class="btn btn-default" value="Post!") 